extends ../layout

block content
    p
        | Для управления своим отрядом вам нужно написать тактические функции для своих юнитов.
        | Тактическая функция вызывается на каждый шаг юнита. Вызов таких функций как move(), attack()
        | не дает немедленных результатов а ставит действие в очередь. Все запланированные действия
        | будут выполнены после обработки всех тактических функций всех юнитов на карте.
    h3 Tactic API:
    ul
        li unit nearest() - ближайший живой враг
        li bool catAttack(unit) - проверить в зоне досигаемости ли unit
        li float direction(unit) - угол на который нужно повернуться, чтобы смотреть на unit
        li turn(float) - повернуться на заданный угол (добавляет действие в очередь)
        li float distance(unit) - растояние до unit
        li move(distance) - двигаться вперед distance пикселей (добавляет действие в очередь)
        li attack(unit) - атаковать unit, если unit в зоне досягаемости (добавляет действие в очередь)
        li unit|null target() - результат этой функции может быть задан стратегической функцией
        li queueSize() - кол-во действий в очереди
        li resetQueue() - сбросить очередь действий
        li log(mixed) - вывести переменную в консоль
    h3 Strategy API:
    p
        | В дополнение к тактическим функциям вы так же можете написать одну стратегическую функцию
        | для всего отряда. В этой функции доступны координаты всех врагов, так же из стратегической
        | фунции вы можете задать цели своим юнитам. Стратегическая функция отряда выполняется перед
        | тактическими функциями юнитов.
    ul
        li array confederates() - свои юниты
        li array enemies() - враги
        li setTarget(unit, target) - задать unit цель target, которую unit сможет получить функцией target()
        li log(mixed) - вывести переменную в консоль
    h3 Свойства юнтов:
    ul
        li id
        li lives
        li x
        li y