!!! 5
html
    head
        title Tactic wars
        link(rel="stylesheet", type="text/css", href="/public/layout.css")
        link(rel="stylesheet", type="text/css", href="/public/colors.css")
    body
        #menubar
            a(href='/mypage')= __i('hello-username', 'username')
        !{body}