extends layout

append scripts
    script(src="/public/replay.js")

block content
    h1= __i('replay-view')
    .replay-field
        input(type="hidden", name="replayId", value=replayId)
        canvas(id="field",width="600",height="300")