extends ../layout

block content
    .blog
        h2 Tactic Wars API
        p
            | Для управления своим отрядом вам нужно написать тактические функции
            | для своих юнитов. Тактическая функция вызывается на каждый шаг юнита.
            | Вызов таких функций как move(), attack() дает результат, если еще
            | не израсходованны очки действий на текущий ход. Иначе вызов этих
            | функци бесполезен.
        h2 Tactic API:
        ul
            li unit self() - данные о текущем юните
            li unit nearest() - ближайший живой враг
            li bool canAttack(unit) - проверить в зоне досигаемости ли unit
            li
                | int direction(unit) - угол на который нужно повернуться, чтобы смотреть на unit
                ul
                    li 0 - вправо, 1 - вправо-вниз, 2 - вниз, 3 - влево-вниз, 4 - влево, 5 - влево-вверх, 6 - вверх, 7 - вправо-вверх
            li turn(int) - повернуться на заданный угол
            li float distance(unit) - растояние до unit
            li direction[] path(toUnit) - возвращает список шагов, необходимых для движения к цели, результат этой функции может быть передан функции move()
            li move(direction) - сделать шаг в заданном направлении
            li move(direction[]) - двигаться в соотвествии со списком направлений для каждого шага
            li attack(unit) - атаковать unit, если unit в зоне досягаемости
            li unit|null target() - результат этой функции может быть задан стратегической функцией. Смотрите описание setTarget(unit, target) ниже
            li mixed command() - результат этой функции может быть задан стратегической функцией. Смотрите описание command(unit, command) ниже
            li log(mixed) - вывести переменную в консоль
            li store - переменная, в которой вы можете сохранить свои данные между запусками
        h2 Strategy API:
        p
            | В дополнение к тактическим функциям вы так же можете написать одну
            | стратегическую функцию для всего отряда. В этой функции доступны 
            | координаты всех врагов, так же из стратегической фунции вы можете 
            | задать цели своим юнитам. Стратегическая функция отряда выполняется
            | перед тактическими функциями юнитов.
        ul
            li array confederates() - массив своих живых юнитов
            li array enemies() - массив живых юнитов врага
            li setTarget(unit, target) - задать unit цель target, которую unit сможет получить функцией target()
            li command(unit, command) - передать юниту комманду, которую unit сможет получить функцией command()
            li log(mixed) - вывести переменную в консоль
            li store - переменная, в которой вы можете сохранить свои данные между запусками
        h2 Свойства юнтов:
        ul
            li int id
            li int health
            li string type - "Footman", "Archer", "Ballista"
            li float x
            li float y
