extends ../layout

append styles
    link(rel="stylesheet", href="/lib/codemirror/codemirror.css")

append scripts
    script(src="/lib/codemirror/codemirror.js")
    script(src="/lib/codemirror/runmode.js")
    script(src="/lib/codemirror/javascript.js")

block content
    .blog
        h2 Пара способов отладки.
        p
            | Первый способ, это использовать в ваших стратегиях и тактиках функцию log(arg1, ...), которая
            | выводит переданные параметры в консоль браузера. Открыть консоль в Chrome можно сочетанием Ctrl+Shift+I.
        p
            | Второй способ - это поставить breakpoint на строку:
        pre.code
            | eval(this.src);
        p
            | в файле code.js. Но так как на каждом шаге выполняются стратегии для отрядов и тактики для всех юнитов,
            | вам нужно будет пропускать несколько остановок на breakpoint пока очередь не дойдет до нужной программы.
        h3 На заметку
        p
            | Объявление неинициализированных переменных с помощью var в главном контексте тактик и стратегий
            | не рекомендуется, потому что, при отладки в браузере, такие переменные не будут сохранятся между шагами,
            | но во время исполнения вашей тактики или стратегии на сервере значения переменных будет сохранено между шагами.
            | Во избежание трудноуловимых багов используйте переменную store, чтобы сохранить данные между шагами,
            | либо всегда инициализируйте объявленные переменные.