extends ../layout

append styles
    link(rel="stylesheet", href="/lib/codemirror/codemirror.css")

append scripts
    script(src="/lib/codemirror/codemirror.js")
    script(src="/lib/codemirror/runmode.js")
    script(src="/lib/codemirror/javascript.js")

block content
    .blog
        h2 Как создать свой первый отряд.
        p
            | После авторизации вы попадаете на личную страницу, откуда вы можете
            | управлять вашими отрядами и следить за рейтингами. Чтобы создать отряд,
            | перейдите по ссылке "Создать отряд" в левой колонке. На странице,
            | которую вы увидите, нужно будет ввести название вашего нового отряда,
            | а так же набрать юнитов на определенную сумму. После чего вы сможете
            | перейти к программированию нажав кнопку "Создать".
        p
            | Страница программирования отряда разделена на две части. В левой
            | части вы можете управять набором своих программ, а в правой - 
            | назначать программы выбранным юнитам и просматривать результат сражения.
        p
            | В игре есть два вида программ: тактики и стратегии. Тактика - это 
            | программа выполняющаяся для каждого юнита каждый шаг сражения, эта 
            | программа непосредственно управляет действиями юнита. Тактики юнитов
            | выполняются в случайном порядке. Стратегия - это программа, которая 
            | так же вызывается каждый шаг сражения, но один раз для всего отряда.
            | Причем стратегия выполняется перед всеми тактиками юнитов. Стратегия 
            | поможет вам организовать ваш отряд как единое целое. Например, через
            | стратегию вы можете задать одну цель для всех юнитов.
        h3 Программирование отряда
        p
            | Выберите пункт "Create new tactic..." в выпадающем списке
            = '"' + __i('label.code-select') + '".'
            | Это создаст новую тактику с именем "new tactic...". Поменяйте имя программы,
            | например, на "Бей ближнего" и скопируйте в текстовый редактор следующий код:
        pre.code
            | var _target = nearest();
            | if (canAttack(_target)) {
            |     attack(_target);
            | } else {
            |     turn(direction(_target));
            |     move(distance(_target));
            | }
        p
            | Сохраните программу. На игровом поле справа выберите любого юнита
            | из нижнего отряда. Из списка
            = '"' + __i('label.unit-tactic') + '" '
            | выберите только что созданную тактику "Бей ближнего" и нажмите
            = '"' + __i('play-all') + '". '
            | Выбранный вами юнит должен отправиться к врагам.
        h3 Стратегия
        p
            | Чтобы понять как можно использовать "стратегию", сделаем, чтобы все
            | юниты бросались на одного противника. Для этого в выпадающем списке
            = '"' + __i('label.code-select') + '" '
            | выберите пункт "Create new strategy...". Назовите её, например,
            | "все на одного", введите в редактор следующий код:
        pre.code
            | var _enemies = enemies(), _confederates = confederates();
            | if (_enemies[0]) {
            |   for (var j in _confederates) {
            |     setTarget(_confederates[j], _enemies[0]);
            |   }
            | }
        p
            | и сохраните его. Чтобы применить стратегию к вашему отряду, выберите
            | "все на одного", в списке
            = ' "' + __i('label.cohort-strategy') + '".'
        p
            | Тактику "беги и мочи" нужно немного дополнить, а имеено заменить строку:
        pre.code
            | var _target = nearest();
        p
            | на строку:
        pre.code
            | var _target = target() || nearest();
        p
            | После чего вы можете попробовать
            = '"' + __i('play-all') + '". '
            | Юниты должны броситься на расправу с врагами по очереди.
