h2= __i('cohort-replays')
.replay-list
    .replay
        a(href='/cohort/1/edit') test cohort1
        |&nbsp;
        a(href='/replay/1')= __i('view-replay')
    .replay
        a(href='/cohort/2/edit') test cohort2
        |&nbsp;
        a(href='/replay/2')= __i('view-replay')