h2= __i('setout-replays')
.replay-list
    .replay
        span test cohort1 (19.03.2012)
        |&nbsp;
        a(href='/replay/1')= __i('view-replay')
    .replay
        span test cohort2 (17.03.2012)
        |&nbsp;
        a(href='/replay/2')= __i('view-replay')