extends ../layout

block content
    h2= __i('setout-replays')
    ul.replay-list
        each replay in replays
            li
                p
                    a(href='/replay/' + replay.id)= replay.publish1Name + ' (' + replay.publish1Rate + ') VS. ' + replay.publish2Name + ' (' + replay.publish2Rate + ')'
                p
                    span= replay.result + ' '
                    span.date= replay.time.format('dd-mm-yyyy HH:MM')