/*
possible theme http://kuler.adobe.com/#themeID/62938
DCEBDD (CBDACC)
CBDACC
7F917E
6B6A60
455250
*/

body {
    background: #DCEBDD;
    color: #455250;
}
a {
    color: #455250;
}

.create-units .footman, .create-units .archer, .create-units .ballista {
    background: #CBDACC;
}
.code {
    background: #CBDACC;
    border-color: #455250;
}

ul.replay-list li, ul.cohort-list li {
    background: #CBDACC;
}

canvas, .CodeMirror {
    border-color: #455250;
}

.inactive, .inactive a {
    color: #7F917E;
}
#menubar {
    background: #CBDACC;
}

.status.pending {
    color: #bbb;
}
.status.rejected {
    color: #f00;
}
.inactive .status.rejected {
    color: inherit;
}
.user-rating tr:nth-child(odd) {
    background: #CBDACC;
}