/*
possible theme http://kuler.adobe.com/#themeID/1747003
BAB293
A39770
EFE4BD
A32500
2B2922
*/

body {
    background: #EFE4BD;
    color: #2B2922;
}
a {
    color: #2B2922;
}

.create-units .footman, .create-units .archer {
    background: #BAB293;
}
.CodeMirror {
    border-color: #2B2922;
}