* {
    padding: 0;
    margin: 0;
}

ul {
    padding-left: 25px;
}

html, body {
    height: 100%;
}

#menubar {
    height: 80px;
    z-index: 10;
    position: relative;
}

#my-setouts, #last-replays, #profile {
    float: left;
    height: 100%;
    margin-top: -80px;
    z-index: 1;
    position: relative;
}
#my-setouts>*:first-child, #last-replays>*:first-child, #profile>*:first-child {
    margin-top: 80px;
}

#profile {
    width: 34%;
}
#last-replays, #my-setouts {
    width: 33%;
}

.create-units {
    float: left;
    width: 30%;
    height: 400px;
}
.create-field {
    float: left;
    width: 70%;
    height: 400px;
}

.code-editor {
    float: left;
    width: 50%;
    height: 400px;
}
.edit-field {
    float: left;
    width: 50%;
    height: 400px;
}
.replay-field {
    height: 400px;
}


.create-units .footman, .create-units .archer, .create-field .footman, .create-field .archer {
    cursor: pointer;
}

.create-units .footman, .create-units .archer {
    padding: 5px;
    margin-bottom: 5px;
}

.create-field .footman, .create-field .archer {
    float: left
}
img.unit {
    padding: 0 7px;
}

#code-src {
    height: 300px;
}
.CodeMirror {
    border-width: 1px;
    border-style: solid;
}

h2 {
    margin-bottom: 5px;
}
*+h2 {
    margin-top: 10px;
}
p, .controls {
    margin-bottom: 7px;
}
li p {
    margin: 0;
}

canvas {
    margin: 7px 0;
}
span.date {
    font-size: 80%;
}

ul.replay-list, ul.cohort-list {
    list-style: none;
    padding: 0;
}
ul.replay-list li, ul.cohort-list li {
    margin: 5px 10px 5px 0;
    padding: 5px;
}