* {
    padding: 0;
    margin: 0;
}

ul {
    padding-left: 25px;
}

html, body {
    height: 100%;
    min-width: 1000px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
}

#menubar, #content {
    padding: 5px;
}

#menubar {
    overflow: hidden;
    z-index: 10;
    position: relative;
}
#menubar form {
    float: right;
}
.login-fields {
    float: left;
    width: 260px;
}
.login-fields label {
    display: block;
}
.login-fields label span {
    float: left;
    width: 100px;
}
.login-fields label input {
    width: 150px;
}

#my-setouts, #last-replays, #profile {
    float: left;
    height: 100%;
    margin-top: -80px;
    z-index: 1;
    position: relative;
}
#my-setouts>*:first-child, #last-replays>*:first-child, #profile>*:first-child {
    margin-top: 80px;
}

#profile {
    width: 34%;
}
#last-replays, #my-setouts {
    width: 33%;
}

.create-units {
    float: left;
    width: 50%;
    height: 400px;
}
.create-field {
    float: left;
    width: 50%;
    height: 400px;
}

.code-editor, .edit-field, #index-replays, #index-blog {
    float: left;
    width: 48%;
    padding: 0 10px;
    height: 400px;
}
.replay-field {
    height: 400px;
}


.create-units .footman, .create-field .footman,
.create-units .archer, .create-field .archer,
.create-units .ballista, .create-field .ballista {
    cursor: pointer;
}

.create-units .footman, .create-units .archer, .create-units .ballista {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.create-field .footman, .create-field .archer, .create-field .ballista {
    float: left;
}
img.unit {
    padding: 0 7px;
}

#code-src {
    height: 300px;
}
.CodeMirror {
    border-width: 1px;
    border-style: solid;
}

h1 {
    padding: 0 10px 10px;
}
h2 {
    margin-bottom: 5px;
}
*+h2 {
    margin-top: 10px;
}
p, .controls {
    margin-bottom: 7px;
}
li p {
    margin: 0;
}

button {
    padding: 0 5px;
}

canvas, .CodeMirror {
    margin: 10px 0;
    border-style: solid;
    border-width: 1px;
}
span.date {
    font-size: 80%;
}

ul.replay-list, ul.cohort-list {
    list-style: none;
    padding: 0;
}
ul.replay-list li, ul.cohort-list li {
    margin: 5px 10px 5px 0;
    padding: 5px;
    border-radius: 5px;
}
.code {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    float: left;
    min-width: 300px;
    margin: 0 0 10px 10px;
}
.code + * {
    clear: left;
}

.blog {
    width: 800px;
    margin: 0 auto;
    text-align: justify;
}